body {
    family: DejaVu Sans;
    size: 10pt;
}

title {
    size: 20pt;
    weight: 900;
}

subtitle {
    size: 15pt;
    weight: 900;
}

literal {
    family: FreeMono;
    language: und;
}

verbatim {
    family: FreeMono;
    language: und;
}
/*TODO: implement all classes for syntax highlighting*/
.keyword {
}